.th_content{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -422px;
    margin-top: -179px;
    width: 844px;
    color: #4d4d4d;
}
.th_content .title{
    padding-left: 35px;
    height: 24px;
    line-height: 24px;
    font-size: 22px;
    background: url('../../common/img/icon_myPay.png') no-repeat 0 center;
}
.th_content .content_box{
    padding: 44px 0 0 20px;
}
.th_content .content_item{
    position: relative;
    font-size: 18px;
    padding-bottom: 52px;
}

.th_content .content_item>div{
    display: inline-block;
}
.th_content .item_title{
    width: 130px;
    height: 100%;
    vertical-align: top;
}
.th_content .item_detail{
    width: 540px;
}
.th_content .my_package{
    font-size: 16px;
}
.th_content .package_content{
    padding-top: 18px;
}
.th_content .package_content .remain_message{
    color: #0071BA;
    cursor: pointer;
}
.th_content .package_content p{
    line-height: 26px;
}
.th_content .item_check{
    position: relative;
    width: 150px;
    height: 100%;
    vertical-align: top;
    color: #0071BA;
    cursor: pointer;
}
.th_content .item_check span{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
}


/*.th_content .item_title,
.th_content .item_detail{
    height: 20px;
    line-height: 20px;
}
.th_content .item_detail{
    position: absolute;
    top: 0;
    left: 152px;
    color: #808080;
}
.th_content .item_status,
.th_content .item_modify{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    color: #0071BA;
    cursor: pointer;
}
.th_content .my_package{
    font-size: 16px;
}
.th_content .package_content{
    padding-top: 18px;
}
.th_content .package_content .remain_message{
    color: #0071BA;
    cursor: pointer;
}
.th_content .package_content p{
    line-height: 26px;
}*/
