body{
    background-color: #e9eaec;
}
.th_nav{
    width: 100%;
    height: 60px;
    background-color: #fff;
    border-bottom: 1px solid #c5c5c7;
}
.th_content{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -200px;
    width: 400px;
    height: 480px;
    border: 1px solid #c5c5c7;
    border-radius: 4px;
}
.th_login{
    height: 400px;
}
.th_register{
    height: 480px;
}
.th_content{
    background-color: #fff;
}
.th_content .content_tab{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #e6e6e6;
}
.th_content .content_tab button{
    width: 200px;
    height: 60px;
    background-color: #e6e6e6;
}
.th_content .content_tab button.active{
    background-color: #fff;
}
.th_content .tab_login{
    border-top-left-radius: 6px;
}
.th_content .tab_register{
    border-top-right-radius: 6px;
}
.th_content .content_tab .tab_register{
    position: absolute;
    top: 0;
    left: 200px;
}
.th_content .login_content{
    width: 350px;
    padding: 28px 25px 0;
}
#login_form .input_box{
    position: relative;
    margin-top: 10px;
}

#login_form .input_box:first-of-type{
    margin-top: 0;
}
#login_form input{
    display: block;
    width: 350px;
    height: 32px;
    text-indent: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#login_form .btn_clear{
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#login_form .btn_login{
    display: block;
    margin: 28px auto 0;
    width: 350px;
    height: 42px;
    background-color: #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
}
#login_form .btn_login:active{
    background-color: green;
    color: #fff;
}
.th_content .forget_pwd{
    margin-top: 10px;
}
.split_line{
    margin-top: 30px;
    border-top: 1px dashed #c9c9c9;
}
.th_content .link_list{
    margin-top: 44px;
    padding-left: 76px;
}
.th_content .link_list .link_item{
    float: left;
    margin-right: 28px;
    line-height: 46px;
    text-align: center;
}
.th_content .link_list .link_item:last-of-type{
    margin-right: 0;
}
.th_content .link_list .btn_link{
    display: block;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #e9eaec;
    cursor: pointer;
}
.th_content .link_list .btn_link:active{
    color: #fff;
    background-color: green;
}
.th_content .register_content{
    width: 350px;
    padding: 28px 25px 0;
}

#register_form .input_box{
    position: relative;
    margin-top: 10px;
}
#register_form .input_box:first-of-type{
    margin-top: 0;
}
#register_form input{
    display: block;
    width: 350px;
    height: 32px;
    text-indent: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
#register_form .input_idcode{
    width: 230px;
}
#register_form .btn_getIdcode{
    position: absolute;
    top: 0;
    right: 0;
    width: 104px;
    height: 32px;
    cursor: pointer;
}
#register_form .btn_clear{
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#register_form .check_box{
    margin-top: 10px;
    line-height: 20px;
    height: 20px;
}
#register_form .check_box input{
    display: inline-block;
    width: 24px;
    height: 24px;
}
#register_form .btn_register{
    display: block;
    margin: 28px auto 0;
    width: 350px;
    height: 42px;
    background-color: #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
}
#register_form .btn_register:active{
    background-color: green;
    color: #fff;
}